body { 
    background: url("../images/newgirlnotitlepic.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 2;
  }

.question-box {
    display: flex;
    align-content: flex-end;
    flex-direction: column; 
    text-align: center;
    background-color: #ffffff80;
    z-index: 1;
    margin-top: 50%;
    border: 3px solid black;
}
#answer-choices {
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-bottom: 2%;
}